// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
$white:                   #fff !default;
$vk-color:                #45668e !default;
$facebook-color:          #3b5998 !default;
$instagram-color:         #c13584 !default;
$github-color:            #333 !default;
$linkedin-color:          #0077b5 !default;
$email-color:             #00b27f !default;

$body-bg:                   $white !default;

$footer-height:             60px !default;

$hp-lead-font-size:         1rem !default;