// $primary:       $blue !default;
// $secondary:     $gray-600 !default;
// $success:       $green !default;
// $info:          $cyan !default;
// $warning:       $yellow !default;
// $danger:        $red !default;
// $light:         $gray-100 !default;
$white:                   #fff !default;
$dark:                    #343a40 !default;

$body-bg:                   $dark !default;
$body-color:                $white !default;

$footer-height:             60px !default;